.container {
    display: flex;
    margin: 150px;
    flex-direction: column;
}

.numberContainer {
    display: flex;
    flex-direction: column;
}

.numberRow {
    display: flex;
    flex-direction: row;
}
.lastRow {
    display: flex;
    flex-direction: row;
}

.clearRow {
    display: flex;
    flex-direction: row;
}

input {
    margin: 4px;
    width: 128px;
    height: 40px;
    text-align: right;
}

button {
    margin: 4px;
    width: 40px;
    height: 40px;
}