.container {
    display: flex;
    margin: 150px;
    border: solid 2px;
    width: 192px;
    background-color: rgb(191, 191, 191);
    flex-direction: column;
}

input {
    margin: 4px;
    width: 176px;
    height: 40px;
    text-align: right;
    font-size: 30px;
}

.numberContainer {
    display: flex;
    flex-direction: column;
}

.numberRow {
    display: flex;
    flex-direction: row;
}
.lastRow {
    display: flex;
    flex-direction: row;
}

.clearRow {
    display: flex;
    flex-direction: row;
}

button {
    margin: 4px;
    width: 40px;
    height: 40px;
}